#map {
  height: 80%;
  width: 90%;
  margin: 3em;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  width: 150px;
  margin-left: 200px;
}
.content {
  width:400px;
  height:100px;
}
.footer {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}